:root {
  --color1: #92acdc;
  --color2: #2bbcc8;
  --color3: #2bc8ac;
  --color4: #dedc93;
  --color5: #e5e3ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color5);
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  padding: 25px;
}

.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  width: calc(100% / 3 - 10px);
  height: calc(100% / 3 - 10px);
  position: relative;
  transform-style: preserve-3d; /* Определяем, что трансформация будет проходить в 3д*/
  perspective: 800px; /* Объем для 3д */
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.active {
  box-shadow: 0px 0px 12px 12px rgba(56, 174, 10, 0.2);
}

.view {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  backface-visibility: hidden; /* скрывает заднюю часть карточки */
  position: absolute;
  transition: transform 0.3s linear 0s;
  pointer-events: none; /* отключает событие клика*/
  user-select: none; /* отключает выделение */
}

.front-view span {
  color: var(--color1);
  font-size: 40px;
}

.back-view {
  transform: rotateY(-180deg); /* перевернула другой стороной*/
}

.back-view img {
  max-width: 45px;
}

.flip .front-view {
  transform: rotateY(180deg);
}

.flip .back-view {
  transform: rotateY(0);
}

.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  /* Анимация карточки с эффектом (тряски)*/
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}

.wrapper__info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.wrapper__score {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.wrapper__title {
  font-weight: 700;
}

.wrapper__player {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color1);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}

.wrapper__winner {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color3);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}

.hidden {
  display: none;
}

.btn {
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--color3);
  font-size: 24px;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
  cursor: pointer;
}
